body {
    margin: 0px;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: black;
    width: 15%;
    float: left;
    height: 100%;
    position: fixed;
    border-right: 1px solid rgb(37, 36, 36);
}
.navbutton{
    width: 80%;
    padding: 15px;
    margin: 8px;
    border-radius: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.navbutton:hover{
    background-color: rgb(17, 17, 17);
}
.logoimg {
    width: 100px;
    height: 30px;
    margin: 29px;
    margin-top: 37px;

}

.colum a {
    display: block;
    background-color: black;
    color: white;
    border: none;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: large;
    letter-spacing: -1px;    
    
}

.main {
    background-color: black;
    width: 85%;
    height: 100%;
    float: right;
}

.space {
    height: 220px;
}

.center {
    width: 60%;
    height: 100%;
    background-color: black;
    float: left;

}

.side {
    width: 40%;
    background-color: black;
    float: right;

}

.rightsection {
    float: right;
    height: 600px;
    width: 300px;
    margin-right: 250px;
    margin-top: 50px;
    background-color: black;
    padding-top: 15px;
    padding-left: 10px;
}

.post {
    height: 800px;
    width: 500px;
    margin-left: 300px;
    background-color: black;


}

.postimage {
    height: 590px;
    width: 500px;
    margin-left: -5px;
    margin-top: -16px;

}

.like {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: -3px;
    margin-left: -5px;
    display: inline-block;
    padding-top: 5px;

}

.likespace {
    width: 370px;
}

.addcomment {
    border: none;
    background-color: black;
    height: 25px;
    width: 93%;
    margin-top: 0px;
    outline: none;
    color: white;
}

.status {
    background-color: black;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 120px;
    width: 660px;
    padding: 10px;
    margin-left: 190px;
    margin-top: 40px;
}

.statusname {
    color: white;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}
.statusname p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3px;

}


.statusround {
    background: linear-gradient(90deg, rgba(212,20,187,1) 0%, rgba(253,0,0,1) 43%, rgba(255,0,251,1) 100%);
    margin: 5px;
    display: inline-block;
    border-radius: 60%;
    width: 60px;
    height: 60px;
    padding: 3px;
}


.status::-webkit-scrollbar {
    width: 0;
}

.statusimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}

.post1 {
    width: 99%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    padding-left: 5px;


}

.post1img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

.postname {
    color: white;
}
.row {
    display: inline-block;
}

.comment {
    width: 100%;
}

.proimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.proname h5 {
    position: relative;
    top: 9px;
    color: white;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;


}

.proname h6 {
    color: rgb(157, 154, 154);
    position: relative;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3px;
}

.postname h4 {
    position: relative;
    top: 13px;
    color: white;
}

.postname h5 {
    color: white;
    position: relative;
    bottom: 9px;
}

.profile {
    width: 100%;
    margin-top: -9px;
    margin-bottom: -15px;

}

.profile a {
    float: right;
    margin-top: 35px;
    color: rgb(68, 68, 240);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2px;
}

.profile p {
    color: gray;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4px;
}

.profile h4 {
    color: white;
    display: inline;
    margin-left: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2px;
}

.footer{
    color: gray;
    display: inline;
}
.footer a{
    
    color: rgb(87, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: xx-small;
    letter-spacing: -0.6px;
    
}
.footer a:hover{
    text-decoration: underline
}
.footer p{
    color: rgb(87, 86, 86);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: xx-small;
    
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3px;
}